<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5KDG7W6');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link rel="icon" th:href="@{/favicon.ico}" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive/compatibility.css}" href="/css/responsive/compatibility.css" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.4.1.min.js}" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script th:if="${adStatus}" data-ad-client="ca-pub-2111375563174258" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>WoWS Fitting Tool</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe class="hidden" src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="top">
        <div th:replace="top :: top"></div>
    </div>
</header>
<main>
    <th:block th:replace="Joint/adToggle :: adToggle"></th:block>
    <br />
    <div class="research_nation">
        <button class="button_nation initiate" th:each="nation : ${nations}" th:if="${nation.value.entrySet().?[!key.contains('PREMIUM') and !key.contains('TEST')].size() > 0}" th:attr="data-nation=${nation.key}">
            <img th:src="${'https://cdn.wowsft.com/images/nation_flags/small/flag_' + nation.key + '.png'}"/><br />
            <span th:text="${global.get(IDS + nation.key.toUpperCase())}"></span>
        </button>
    </div>
    <div class="research_list">
        <strong id="xpText">XP calculation</strong><br /><br />
        <table th:each="nation : ${nations}" th:if="${nation.value.entrySet().?[!key.contains('PREMIUM') and !key.contains('TEST')].size() > 0}" th:class="${'tree ' + nation.key}" th:classappend="'hide'">
            <tbody>
                <tr th:each="realShipType : ${nation.value}" th:if="${realShipType.value.containsKey(realShipType.key)}">
                    <th:block th:each="shipType : ${realShipType.value}">
                        <td th:each="i : ${#numbers.sequence(1, 10)}">
                            <th:block th:each="ship : ${shipType.value.get(i)}" th:if="${shipType.value.get(i) != null}">
                                <button class="button_ship"
                                        th:attr="data-tier=${i}, data-position=${ship.position}, data-type=${shipType.key}, data-ship-index=${ship.index}, data-ship-xp=${ship.costXP},
                                            data-prev-index=${ship.prevShipIndex}, data-prev-ship-xp=${ship.prevShipXP}, data-prev-ship-comp-xp=${ship.prevShipCompXP}">
                                    <img th:attr="data-src=${'https://cdn.wowsft.com/images/vehicles/ship_previews/' + ship.index + '.png'}" /><br/>
                                    <span th:text="${global.get(IDS + ship.index.toUpperCase() + '_FULL')}"></span>
                                </button><br th:if="${shipStat.index > 0}"/>
                            </th:block>
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <th:block th:replace="bottom :: bottom"></th:block>
</footer>
<script th:src="@{/js/common.js}" src="/js/common.js"></script>
<script th:src="@{/js/pages/touch.js}" src="/js/pages/touch.js"></script>
<script th:src="@{/js/pages/research.js}" src="/js/pages/research.js"></script>
</body>
</html>
