<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5KDG7W6');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link rel="icon" th:href="@{/favicon.ico}" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive/compatibility.css}" href="/css/responsive/compatibility.css" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.4.1.min.js}" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script th:if="${adStatus}" data-ad-client="ca-pub-2111375563174258" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>WoWS Fitting Tool</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe class="hidden" src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="top">
        <div th:replace="top :: top"></div>
    </div>
</header>
<main>
    <div class="main">
        <th:block th:replace="Joint/adToggle :: adToggle"></th:block>
        <br />
        <th:block th:replace="Joint/shipSelect :: warshipStats"></th:block>
    </div>
</main>
<footer>
    <th:block th:replace="bottom :: bottom"></th:block>
</footer>
<div class="shipsList">
    <div class="shipsList_expand">
        <span class="shipsList_top contract">Ships List</span>
        <div class="nation" th:each="nation : ${nations}">
            <span th:text="${global.get(IDS + nation.key.toUpperCase())}"></span>
            <div class="dropdown_main">
                <div th:each="realShipType : ${nation.value}">
                    <span th:text="${global.get(IDS + realShipType.key)}"></span>
                    <div class="dropdown_sub" th:if="${realShipType.value.get(realShipType.key) != null}">
                        <th:block th:each="shipType : ${realShipType.value}">
                            <th:block th:each="tier : ${shipType.value}">
                                <th:block th:each="ship : ${tier.value}">
                                    <a th:href="'/ship?index=' + ${ship.index}">
                                        <span th:text="${tier.key + ' - ' + global.get(IDS + ship.index.toUpperCase() + '_FULL')}"
                                              th:attr="data-nation=${nation.key}, data-shipType=${realShipType.key}, data-ship=${ship.index}"></span>
                                    </a>
                                </th:block>
                            </th:block>
                        </th:block>
                    </div>
                    <div class="dropdown_main" th:unless="${realShipType.value.get(realShipType.key) != null}">
                        <div th:each="shipType : ${realShipType.value}">
                            <span th:text="${global.get(IDS + shipType.key)}"></span>
                            <div class="dropdown_sub">
                                <th:block th:each="tier : ${shipType.value}">
                                    <th:block th:each="ship : ${tier.value}">
                                        <a th:href="'/ship?index=' + ${ship.index}">
                                            <span th:text="${tier.key + ' - ' + global.get(IDS + ship.index.toUpperCase() + '_FULL')}"
                                                  th:attr="data-nation=${nation.key}, data-shipType=${realShipType.key}, data-ship=${ship.index}"></span>
                                        </a>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/angle/aa.js}" src="/js/angle/aa.js"></script>
<script th:src="@{/js/angle/arty.js}" src="/js/angle/arty.js"></script>
<script th:src="@{/js/angle/torp.js}" src="/js/angle/torp.js"></script>
<script th:src="@{/js/common.js}" src="/js/common.js"></script>
<script th:src="@{/js/pages/touch.js}" src="/js/pages/touch.js"></script>
<script th:src="@{/js/pages/ship.js}" src="/js/pages/ship.js"></script>
<script th:inline="javascript">
//    <![CDATA[
    const compare = false;
//    ]]>
</script>
</body>
</html>
