<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5KDG7W6');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link rel="icon" th:href="@{/favicon.ico}" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive/compatibility.css}" href="/css/responsive/compatibility.css" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{/js/jquery/jquery-3.4.1.min.js}" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script th:if="${adStatus}" data-ad-client="ca-pub-2111375563174258" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>WoWS Fitting Tool</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe class="hidden" src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="head">
    <div class="top">
        <div th:replace="top :: top"></div>
    </div>
</div>
<main id="arty">
    <th:block th:replace="Joint/adToggle :: adToggle"></th:block>
    <br />
    <div id="shipSelector">
        <select id="nationSelect">
            <th:block th:each="nation : ${nations}">
                <option th:text="${global.get(IDS + nation.key.toUpperCase())}" th:value="${nation.key}"></option>
            </th:block>
        </select>
        <select th:each="nation : ${nations}" th:id="${nation.key}" th:class="${'nationShipType ' + (nationStat.index == 0 ? 'show' : 'hide')}">
            <th:block th:each="realShipType : ${nation.value}" th:if="${realShipType.key != 'AIRCARRIER'}">
                <option th:text="${global.get(IDS + realShipType.key)}" th:value="${realShipType.key}"></option>
            </th:block>
        </select>
        <th:block th:each="nation : ${nations}" th:id="${nation.key}">
            <select th:each="realShipType : ${nation.value}" th:if="${realShipType.key != 'AIRCARRIER'}" th:class="${'shipList ' + nation.key + ' ' + realShipType.key + ' ' + (nationStat.index == 0 and realShipTypeStat.index == 0 ? 'show' : 'hide')}">
                <th:block th:each="shipType : ${realShipType.value}" th:if="${shipType.key != 'AIRCARRIER'}">
                    <option disabled="disabled" th:text="${global.get(IDS + shipType.key)}"></option>
                    <th:block th:each="tier : ${shipType.value}">
                        <option disabled="disabled" th:utext="'&ensp;Tier ' + ${tier.key}"></option>
                        <th:block th:each="ship : ${tier.value}">
                            <option th:utext="'&emsp;' + ${global.get(IDS + ship.index.toUpperCase() + '_FULL')}"  th:attr="ship-id=${ship.index}"></option>
                        </th:block>
                    </th:block>
                </th:block>
            </select>
        </th:block>
        <th:block th:each="nation : ${nations}" th:id="${nation.key}">
            <th:block th:each="realShipType : ${nation.value}" th:if="${realShipType.key != 'AIRCARRIER'}">
                <th:block th:each="shipType : ${realShipType.value}" th:if="${shipType.key != 'AIRCARRIER'}">
                    <th:block th:each="tier : ${shipType.value}">
                        <th:block th:each="ship : ${tier.value}">
                            <select th:id="${ship.index}" th:class="${'artyList ' + (nationStat.index == 0 and shipTypeStat.index == 0 and shipStat.index == 0 ? 'show' : 'hide')}">
                                <th:block th:each="arty : ${ship.arties}">
                                    <option th:text="${global.get(IDS + arty.toUpperCase())}" th:attr="arty-id=${arty}"></option>
                                </th:block>
                            </select>
                        </th:block>
                    </th:block>
                </th:block>
            </th:block>
        </th:block>
        <button id="addSelect" class="button_arty">Add to Comparison</button>
        <button id="resetChart" class="button_arty">Reset Chart</button>
    </div>
    <div id="chart_list"></div>
    <div id="chart_div1"></div>
    <div id="chart_div2"></div>
</main>
<footer>
    <th:block th:replace="bottom :: bottom"></th:block>
</footer>
<script th:src="@{/js/common.js}" src="/js/common.js"></script>
<script th:src="@{/js/pages/touch.js}" src="/js/pages/touch.js"></script>
<script th:src="@{/js/pages/arty.js}" src="/js/pages/arty.js"></script>
</body>
</html>
