<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5KDG7W6');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link rel="icon" th:href="@{/favicon.ico}" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive/compatibility.css}" href="/css/responsive/compatibility.css" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=1.0, user-scalable=yes" />
    <script th:src="@{/js/jquery/jquery-3.4.1.min.js}" src="/js/jquery/jquery-3.4.1.min.js"></script>
    <script th:if="${adStatus}" data-ad-client="ca-pub-2111375563174258" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>WoWS Fitting Tool</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe class="hidden" src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="top">
        <div th:replace="top :: top"></div>
    </div>
</header>
<main>
    <th:block th:replace="Joint/adToggle :: adToggle"></th:block><br />
    <div id="notification">
        <img id="logo" th:src="@{/images/Icon/WoWSFT_Icon.png}" src="/images/Icon/WoWSFT_Icon.png" alt="Logo courtesy of ReptorPi from DCInside" /><br />
        <h2>WoWS 0.10.10.0</h2><br />
        <br />
        <ul>
            <li th:if="${5 > noticeStat.index}" th:each="notice : ${notification}">
                <strong th:text="${notice.key}"></strong>
                <span th:utext="${notice.value}"></span>
            </li>
        </ul>
    </div>
</main>
<footer>
    <th:block th:replace="bottom :: bottom"></th:block>
</footer>
<script th:src="@{/js/common.js}" src="/js/common.js"></script>
<script th:src="@{/js/pages/touch.js}" src="/js/pages/touch.js"></script>
</body>
</html>
